.greetingForm {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputAndButtonContainer {
    display: flex;
    gap: 20px;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: 400;
}

.input {
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    min-width: 350px;
    font-size: 18px;
    margin-bottom: 10px;
}

.input:focus {
}

.errorInput {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid red;
    min-width: 350px;
    margin-bottom: 10px;
}

.button {
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #06c;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.button:focus {
}

.button:active {
    transform: scale(0.9);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transform: none;
}

.text {
    color: rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

.greeting {
    font-size: 18px;
    font-weight: 500;
}
.lastUserName {
    color: rgb(0, 142, 25);
    font-weight: bold;
}
